@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body,html{
    font-family: 'Roboto', sans-serif;
    line-height: 100%;
    font-size: 16px;
    font-weight: 300;
    
}
.Devloper{
    background-image: url(images/developer.png);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.name{
    color: white;
    width: 900px;
    margin: 0 auto;
    padding-top: 64px;
    padding-left: 16px;
}
.lg_text{
    font-size: 72px;
    font-weight: 400;
    
    
}
.FOr_2nd_section{
    background-color: black;
    padding: 50px;
    gap: 20px;
}
.FOr_2nd_section h2{
    font-weight: 300;
    font-size: 72px;
    color: white;
    text-align: center;

}
.FOr_2nd_section h2 span{
    font-weight: 400;
    font-size: 72px;
    color: white;
    text-align: center;    
}
.Card_Container_div{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    padding: 20px;
}
.Card_container{
    max-width: 320px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1,1, 1, 0.2);
    
}
